
body {
    background-color: aqua;
    opacity: 1;
}
.contents {
    padding : 20px 40px;
}

.contents-title{ 
    color: white;
    background-color : #4169e1;
    padding : 10px 40px ;
    font-size : 40px;
}

.contents-body{
    clear: both;
}

.studying {
    padding : 10px 20px;
}

.header-logo img{
    height:80px;
}

.self-image {
    height :200px;
}
.tool-video {
    width : 50%
}
.python-logo {
    width : 60%;
    margin : auto;
    padding-top: 60px;
}

.contents-media {
    float : left;
    text-align : center;
    width : 50%;
    vertical-align: middle;
}
.contents-text {
    float:right;
    width : 50%;
}
.clear{
    clear:both;
}
header {
    position: fixed;
    background-color: blanchedalmond;
    width : 100%;
    height : 80px;
    margin : 0px;
    padding : 0px;
    top : 0px;
    left : 0px;
}

main{
    padding-top : 90px;
    width : 100%;
    background-color: aliceblue;
}

.lab-link {
    display : none;
}
.paiza-logo {
    width : 100%;
    height : 120px;
    line-height: 120px;
}

.paiza-logo img{
    width : 100%;
    vertical-align: middle;
}

.progate-logo {
    width : 75%;
    line-height: 120px;
    height : 120px;
    margin : auto;
}

.progate-logo img {
    width : 100%;
    vertical-align: middle;
}

.site {
    width : 50%;
    float : left;
}