
*{
    box-sizing: border-box;
}

body {
    opacity: 1;
}

header {
    position: fixed;
    background-color: rgba(34, 49, 52, 0.9);
    color: #fff;
    width : 100%;
    height : 65px;
    top : 0;
    left : 0;
    z-index: 10;
    font-size: 10px;
}

header .container{
    padding: 0px;
    font-size: 15px;
}

.header-left {
    float: left;
}

.header-logo{
    float:left;
    margin-top: 0px;
}

.header-logo img{
    height:65px;
}
.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none !important;
}

.header-list {
    float:left;
    font-size: 0px;
}

.header-list li{
    list-style: none;
    float: left;
    padding: 20px 20px;
    font-size: 15px;
}

.header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.header-right a{
    line-height: 65px;
    padding: 0px 25px;
    color: white;
    display: block;
}

.header-right :hover{
    background-color: rgba(255, 255, 255, 0.5);
}


main{
    padding: 100px 80px;
    width : 1000px;
    margin : auto;
    background-color: aliceblue;
}

.container{
    max-width: 1170px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
}

.top-wrapper{
    padding-top: 180px;
    padding-bottom: 100px;
    background-image: url(https://1.bp.blogspot.com/-6SyI7n43K7A/YULX1oOcHkI/AAAAAAABfZc/DXz8YRHZcTgkgDovSz9gz6attOu8pcDYQCNcBGAsYHQ/s835/space_uchu_penguin.png);
    background-size: cover;
    color:yellow;
    text-align: center;
    display: none;
}

.top-wrapper h1{
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 10px;
}

.top-wrapper p{
    opacity: 0.7;
}
.btn-wrapper {
    margin: 20px 0px;
}

.btn-wrapper p{
    margin: 10px 0px;
}

.btn-wrapper .btn{
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.btn-wrapper .btn:hover{
    opacity: 1;
}

.btn-wrapper .sighup{
    background-color: #239b76;
}

.btn-wrapper .facebook{
    background-color: #3b5998;
}

.btn-wrapper .twitter{
    background-color: #55acee;
}

.btn-wrapper .fa{
    margin-right: 5px;
}

.contents {
    padding : 0px 40px;
}

.contents-title{ 
    color: white;
    background-color : #4169e1;
    padding : 10px 40px ;
    font-size : 40px;
}

.contents-body{
    clear: both;
}

.studying {
    padding : 10px 20px;
}


.self-image {
    height :200px;
    vertical-align: middle;
}

.appeal-wrapper {
    padding-bottom: 80px;
    background-color: #f7f7f7;
    text-align: center;
    display: none;
}

.appeal-wrapper .heading{
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}

.appeal-wrapper .heading h2{
    font-weight: normal;
}

.appeal{
    float: left;
    width: 25%;
    padding: 0px;
    flex: auto;
}

.appeal-icon {
    position: relative;
}

.appeal-icon p{
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
}

.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top:  20px;
    font-size: 12px;
    color: #b3aeb5;
}

.message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
}
.heading h3{
    font-weight: normal;
}

.message {
    background-color: #5dca88;
    padding: 15px 40px;
    box-shadow: 0 7px #1a7940;

}

.message:active{
    box-shadow: none;
    position: relative;
    top: 7px;
}

.list-wrapper{
    width: 100%;
    display: flex;
}

.list-left{
    width: 20%;
}

.up-btn {
    background-color: #1a7940;
    line-height: 40px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 3px #5f5d60;
}
.up-btn:active{
    box-shadow: none;
    position: relative;
    top: 3px;
}

.down-btn {
    background-color: #4169e1;
    line-height: 40px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 3px #5f5d60;
}

.down-btn:active{
    box-shadow: none;
    position: relative;
    top: 3px;
}

.list-right{
    flex: auto;
}

.flex-list {
    list-style: none;
    color: white;
    display: flex;
    text-align: center;
}

.flex-list .li1{
    background-color: #1a7940;
}

.flex-list .li2{
    background-color: #4169e1;
}
.flex-list .li3{
    background-color: #5f5d60;
}
.flex-list .li4{
    background-color: #2f5167;
}


.flex-list li {
    height: 80px;
    line-height: 80px;
    flex:auto;
}



.tool-video {
    width : 75%;
}
.python-logo {
    width : 60%;
    margin : auto;
    padding-top: 60px;
}

.contents-media {
    float : left;
    text-align : center;
    width : 50%;
    vertical-align: middle;
}
.contents-text {
    float:right;
    width : 50%;
}
.clear{
    clear:both;
}


.lab-link {
    display : none;
}
.paiza-logo {
    width : 100%;
    height : 120px;
    line-height: 120px;
}

.paiza-logo img{
    width : 100%;
    vertical-align: middle;
}

.progate-logo {
    width : 75%;
    line-height: 120px;
    height : 120px;
    margin : auto;
}

.progate-logo img {
    width : 100%;
    vertical-align: middle;
}

.site {
    width : 50%;
    float : left;
}

.contact-form {
    padding-top: 100px;
}

input, textarea {
    width:400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact-submit {
    background-color: #dee7ec;
    color: #889eab;
}

footer {
    background-color: #2f5167;
    color: #fff;
    height: 120px;
    padding: 40px;
}

.footer-logo{
    float:left;
    font-size: 32px;
}

.footer-list{
    list-style: none;
    float:right;
}

.footer-list li{
    padding-bottom: 20px;
}

